<?xml version="1.0" encoding="utf-8" ?>
<context>
  <dbContexts>
    <dbContext name="Default" type="NKingime.Entity.Data.DefaultDbContext,NKingime.Entity" connectionStringName="Default" enabled="true">
      <initializer type="NKingime.Entity.Initializer.DefaultDbContextInitializer,NKingime.Entity" mappers="NKingime.App.Mvc"></initializer>
    </dbContext>
  </dbContexts>
</context>